:root {
  --primary-color: #f15c4b;
  --secundary-color: #b1ac8c;
  --rosa-claro: #fbbfab;
  --verde-claro: #d4dccc;
  --heading-font: "Century Gothic Pro";
  --body-font: "Montserrat";
}
* {
  background-color: black;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 150px;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  font-family: var(--heading-font);
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
h1 {
  font-family: var(--heading-font);
  color: white;
  font-size: 38pt;
}
p {
  color: white;
  font-family: var(--heading-font);
  font-size: 15px;
  border-left: 30px;
}
.content {
  position: absolute;
  margin-left: 50%;
  padding-top: 10%;
}
.me img {
  width: 500px;
}
.me {
  position: absolute;
  margin-left: 3%;
  padding-top: 0%;
}
